body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container{
      width: 1000px;;
      display: flex;
     flex-direction: column;
     .pic{
        height: 500px;
        width: 500px;
        margin-bottom: 30px;
        img{
            height: 100%;
             width: 100%;
             transition: 0.2s ease-out;
        }
     }
     .list{
         display: flex;
         height: 100px;
         width: 100px;
         img{
             cursor: pointer;
             height: 100%;
             width: 100%;
             margin-right: 30px;
             transition: 0.2s ease-in;
         }
     }
  }
  .vien{
      padding: 2px;
      border: solid 1px blue;
  }