header{
    height: 800px;
    background-image: url('assets/img/header.jpg');
    background: rgba(#e15f41, 0.3);
    background-image: url('https://toihocweb.github.io/project3/assets/img/header.jpg?fbclid=IwAR1xL4oYvxcZlVJwPEDaH_1KffAvzZk2zXo4TbwDKbkip5NlBcJLv2MVPw0');
    .container{
        width: 1200px;
        margin: 0 auto;
        padding: 20px;
        .hea{
            display: flex;
            height: 80px;
            justify-content: space-between;
            .hleft{
                h1{
                    font-size: 20px;
                    color:#dfe6e9;
                    position: relative;
                    &:hover{
                        color:white;
                    }
                }
            }
            .hright{
                width: 400px;
                ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    a{
                        font-size: 20px;
                        color: #dfe6e9;
                        position: relative;
                        &:hover{
                            color: white;
                        }
                    }
                }
                }
            }
        }
        .bod{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 600px;
            .con{
                h1{
                    width: 800px;
                    margin: 0 auto;
                    font-size: 60px;
                    position: relative;
                    color: white;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 8%;
                        height: 3px;
                        bottom: -10px;
                        left: 45%;
                        background: #e15f41;
                    }
                }
                p{
                    width: 700px;
                    margin: 0 auto;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    color: white;
                }
                h2{
                    width: 180px;
                    height: 50px;
                    margin: 0 auto;
                    background: #e15f41;
                    transform: scale(1.2);
                    border-radius: 300px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        font-size: 15px;
                        text-align: center;
                        color: white;
                        padding: 10px;

                    }
                }
            }
            
        }
    }
}
.body1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    background: #e15f41;
    .con1{
        width: 1200px;
        margin: 0 auto;
        h1{
            width: 800px;
            margin: 0 auto;
            font-size: 40px;
            position: relative;
            color: white;
            &:after{
                content: '';
                position: absolute;
                width: 8%;
                height: 3px;
                bottom: -10px;
                left: 45%;
                background: white;
            }
        }
        p{
            width: 1200px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 30px;
            color: white;
        }
        h2{
            width: 150px;
            height: 50px;
            margin: 0 auto;
            background: white;
            transform: scale(1.2);
            border-radius: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                font-size: 15px;
                text-align: center;
                color: #333;
                padding: 10px;

            }
        }
    }
    
}
.body2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    .con2{
        margin: 0 auto;
        width: 1200px;
        h1{
            text-align: center;
            position: relative;
            margin-bottom: 50px;
            &:after{
                content: '';
                position: absolute;
                width: 4%;
                height: 3px;
                bottom: -20px;
                left: 48%;
                background: #e15f41;
            }
        }
        .list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                width: 300px;
                align-items: center;
                margin-right: 20px;
                i{
                    font-size: 50px;
                    color: #e15f41;
                    margin-left: 100px;
                }
                h2{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }

        }
    }
}
.body3{
    .picture{
        display: flex;
        .pic{
            position: relative;
            width: 530px;
            height: 285px;
            .chu{
                width: 530px;
                height: 285px;
                margin: 0 auto;
                position: absolute;
                top:-20px;
                left: 0px;;
                z-index: -1;
                h1{
                    color: white;
                    text-align: center;
                    padding: 50px;
                }
                h2{
                    color: white;
                    text-align: center;
                }
           }
           &:hover{
             &:after{
                   
                    
                    opacity: 0.8;
                        }
            .chu{
                      z-index: 99999;
                 }
             }

            &:after{
                content: '';
                position: absolute;
                background: #e15f41;
                width: 100%;
                height: 100%;
                bottom:0;
                left: 0;
                transition: all 0.5s;
                opacity: 0;
                }
        }
        }
}
.body4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background: #333;
    .con4{
        width: 1200px;
        margin: 0 auto;
        h3{
            text-align: center;
            color: white;
            font-size: 30px;
            margin-bottom: 20px;
        }
        h4{
            width: 200px;
            height: 50px;
            margin: 0 auto;
            background: white;
            transform: scale(1.2);
            border-radius: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                font-size: 20px;
                text-align: center;
                color: black;
                padding: 10px;

            }
        }
    }
}
.final{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    .con5{
        width: 1200px;
        margin: 0 auto;
        h4{
            text-align: center;
            font-size: 30px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 4%;
                height: 3px;
                bottom: -20px;
                left: 48%;
                background: #e15f41;
            }
        }
        p{
            margin-top: 50px;
            margin-left: 300px;
            width: 600px;
            text-align: center;
            // margin: 0 auto;
        }
        .child{
            width: 500px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .c{
                width: 200px;
                i{
                    margin-top: 50px;
                    font-size: 50px;
                    margin-left: 70px;

                }
                p{
                    max-width: 100%;
                    margin-left: 0;
                    text-align: center;
                    a{
                        color: tomato;
                    }
                }
            }
            .c:last-child{
                a{
                    position: relative;
                    &:hover{
                        color: red;
                        &:after{
                            width: 100%;
                            height: 1px;;
                        }
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 0;
                        background: red;
                        bottom: 0;
                        left: 0;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }
}



.item2{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    .text{
        width: 400px;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        bottom: -200px;
        left:0;
        text-align: center;
         z-index: -1;
    }
    &:hover{
        color: aliceblue;
        &:after{
              
               
               opacity: 0.9;
               height: 40%;

                   }
       .text{
                 z-index: 99999;
            }
        }
    &:after{
           content: '';
           position: absolute;
           background: #6666;
           width: 100%;
        //    height: 30%;
           height: 0;
           bottom:0;
           left: 0;
        //    transition: all 1s ease-in;//luc dau chuyen dong cham
        transition: all 0.1s;
           opacity: 0;
       }
}
.item3{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden; //ra khoi cha thi an
    .text{
        width: 400px;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        bottom: -200px;
        left:0;
        text-align: center;
         z-index: -1;
    }
    .anh{
        width: 100%;
        height: 100%;
    }
    &:hover{
        color: aliceblue;
        background-size: cover;
        &:after{
              
               
               opacity: 0.9;
               height: 40%;
                   }
       .text{
                 z-index: 99999;
            }
        .anh{
            transform: translateY(-20px);
            
        }
        }

    &:after{
           content: '';
           position: absolute;
           background: violet;
           width: 100%;
           height: 0;
           bottom:0;
           left: 0;
           transition: all 0.5s;
           opacity: 0;
       }
}
.item4{
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    .text{
        width: 400px;
        height: 300px;
        margin: 0 auto;
        position: absolute;
        top: 100px;
        left:0;
        text-align: center;
         z-index: -1;
    }
    &:hover{
        color: aliceblue;
        &:after{
              
               
               opacity: 0.8;
                   }
       .text{
                 z-index: 99999;
            }
            img{
                transform: scale(1.2);
            }
        }

    &:after{
           content: '';
           position: absolute;
           background: violet;
           width: 100%;
           height: 100%;
           bottom:0;
           left: 0;
           transition: all 0.2s;
           transform: scale(1);
           opacity: 0;
       }
}
.item5{
    width: 400px;
    height: 300px;
    position: relative;
    &:hover{
        .text{
            opacity: 1;
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
    .text{
        background: rgba(black, 0.3);
        position: absolute;
        left: 0;
         top: 0;   
         width: 100%;
         height: 100%; 
         display: flex;
         justify-content: center;
         align-items: center;
         color: aliceblue;
         opacity: 0;
         transition: all 1;
      }
}
.item6{
    position: relative;
    width: 400px;
    height: 300px;
    .text{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: red;
        display: flex;
         flex-direction: column; //sap xep theo cot
        justify-content: center;
        align-items: center;
    }
}
