.tintuc{
    display: flex;
    img{
        margin-right: 10px;
    }
}
.list{
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    display: flex;
    width: 1200px;
    margin: 0 auto;

}
