
.list{
    padding: 10px 5px 30px 20px;   
    .tintuc
    {
        margin: 20px;
        display: flex;  
        .noidung{ 
            padding: 10px 5px 30px 20px;
            margin: 20px;
            border: 2px solid gray;
        }
    }
}

