body,html{
    background: url('https://demo.w3layouts.com/demos_new/template_demo/27-02-2019/key-demo_Free/282453819/web/images/bg.jpg');
    background-size: cover;
    font-family: 'Prompt', sans-serif;
}
.container{
        height: 800px;
        width: 1300px;
        padding-top: 40px;
        margin: 0 auto;
        .header{
            .hright{
                i{
                    color: #ccc;
                    font-size: 23px;
                    margin-right: 10px;
                }
                h4{
                    font-size: 23px;
                    a{
                        color: #ccc
                        
                    }
                }
            }
            .hleft{
                width: 350px;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li1{
                        padding: 10px;
                        font-size: 15px;
                        background: rgba(#ccc, 0.1);
                        a{
                            color: #ccc;
                        }
                    }
                    li{
                        padding: 10px;
                        font-size: 15px;
                        a{
                            color: #ccc;
                        }
                    }
                }
            }
            
        }
        .body{
            width: 400px;
            margin: 0 auto;
            margin-top: 100px;
            i1{
                text-align: center;
                width: 400px;
                margin: 0 auto;
                color: #ccc;
                font-size: 60px;
            }
            form{
                margin-top: 50px;
                .us{
                    margin-top: 30px;
                    width: 100%;
                    height: 50px;
                    background: rgba(#ccc, 0.1);
                    border-radius: 30px;
                    i{
                        color: #ccc;
                        text-align: center;
                        font-size: 15px;
                        margin-left: 20px;
                        margin-right: 5px;
                        
                    }
                    input{
                        width: 80%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        margin-left: 0px;
                        border: none;
                        background: rgba(#ccc, 0);
                        &::-webkit-input-placeholder{
                            color: #ccc;
                            font-size: 15px;
                        }

                    }
                    }
            }
           .get{
            margin-top: 30px;
            width: 100%;
            height: 50px;
            background: #fc636b;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 15px;
                color: #ccc;
                text-align: center;
            }
           }
           .item{
            margin-top: 30px;
            label{
                input{
                    position: relative;
                    margin-right:10px;
                    visibility: hidden;
                   &::after{
                       content: '';
                       position:absolute;
                       top: 0;
                       left: 0;
                       width: 20px;
                       height: 100%;
                       background: rgba($color: red, $alpha: 0.4);
                       border-radius: 10px;
                       visibility: visible;
                   }
                   &::before{
                    visibility: visible;
                    content: '';
                    position:absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 2px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    z-index: 10;
                    background: white;
                    transition: all 0.4s ease-in;
                }
                &:checked{
                    &::before{
                       transform:translateY(-50%) translateX(10px) ;
                    }
                    &::after{
                        background: rgba($color: red, $alpha: 1);
                    }
                }
                }
            }
        }
        .end
        {
            margin-top: 100px;
            .eleft{
                width: 300px;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        font-size: 15px;
                        a{
                            color: #ccc;
                        }
                    }
                }
            }
            .eright{
                p{
                    color: #ccc;
                    span{
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}